@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300&display=swap');

h1 {
    font-family: 'Righteous', cursive;
    color: #fff
}

p{
    font-family: 'Roboto', sans-serif;
    font-size: 35px;
    color: #fff
}

.estrella{
    margin-bottom: 12%;
}

.texto{
    margin-top: -10px;
}



.btn {
    margin-top: 50px;
    
}