@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@100;300&display=swap');



.text{
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    color: #fff
}

.heart{
    size:20% ;
}

.page{
    margin-top: 25px;
    
}

.butbot{
    margin: 20%; 
}


a{
    text-decoration: none;
    color: #fff;
}

.botonR{
    margin-top: 2px;
}

.ajust{
    margin: 8%;   
}

.butbot1{
    margin: 11%; 
}

.dosbotones {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: flex-start;
    margin-top:  -9.5%;
}



